@model TMS.Models.Database.AdvertiserInfo

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div>
    <h4>AdvertiserInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.advertiserid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.advertiserid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
